<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user.user', username=message.author.username) }}">
                <img src="{{ message.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a class="user_popup" href="{{ url_for('user.user', username=message.author.username) }}">
                {{ message.author.username }}
            </a>
            said {{ moment(message.timestamp).fromNow() }}:
            <br>
            {{ message.body }}
        </td>
    </tr>
</table>